* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #1e1e1e;
    overflow-x: hidden;
}

@font-face {
    font-family: ProximaNova-Regular;
    src: url("../fonts/ProximaNova-Regular.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ProximaNova-Bold;
    src: url("../fonts/ProximaNova-Bold.woff");
    font-weight: bolt;
    font-style: normal;
}

@font-face {
    font-family: ProximaNova-ExtraBold;
    src: url("../fonts/ProximaNova-Extrabld.woff");
    font-weight: bolt;
    font-style: normal;
}

.circle {
    position: fixed;
    left: -550px;
    margin-left: 50%;
    width: 1100px;
    height: 1100px;
    border-radius: 50%;
    background: radial-gradient(#494949, #1e1e1e);
}

.container {
    margin: 0 auto;
    width: 69.375%;
}

a {
    text-decoration: none;
    color: white;
    font-family: ProximaNova-Regular;
}

a:hover {
    text-decoration: none;
    color: #3d6bff;
    font-family: ProximaNova-Regular;
}

.line {
    position: absolute;
    width: 120px;
    height: 1px;
    background-color: #3d6bff;
}

.line--big {
    width: 255px;
    height: 4px;
}

.line--small {
    margin-top: -28px;
    margin-left: 30px;
}

h1 {
    font-family: ProximaNova-Bold;
    color: white;
    font-size: 50px;
}

p {
    font-family: ProximaNova-Regular;
    color: white;
    font-size: 16px;
}

nav {
    position: relative;
    display: flex;
    z-index: 20;
}

nav ul li {
    display: inline-block;
    padding: 5px 20px 0 20px;
}

.logo {
    margin-top: 33px;
    margin-left: 56px;
    font-size: 40px;

    span {
        font-style: italic;
        color: #3d6bff;
    }
}

.navigation {
    margin-top: 46px;
}

.nav-number {
    position: relative;
    z-index: 10;

    margin-top: 33px;
    h1 {
        font-size: 18px;
        letter-spacing: 0.1em;
    }

    span {
        position: absolute;
        margin-top: -10px;
        font-size: 14px;
        color: #949494;
        text-decoration: underline;
        margin-left: 50px;
    }

}

.first-slide {
    position: relative;
    z-index: 2;
    margin-top: 90px;
}

.one-two {
    margin: 50px 0 60px 0;
}

.button-blue {
    background-color: #3d6bff;
    text-align: center;
    padding: 18px 60px 2px;
    border-radius: 50px;
    font-family: ProximaNova-Bold;
    letter-spacing: 0.08em;
    box-shadow: 0 0 20px #3d6bff;
    animation: btn 2.5s infinite;
}

@keyframes btn {
0% {
    box-shadow: 0 0 5px #3d6bff;
}

50% {
    box-shadow: 0 0 20px #3d6bff;
}

100% {
    box-shadow: 0 0 5px #3d6bff;
}
}

.look-catalog {
    letter-spacing: 0.08em;
    margin-top: 17px;
    margin-left: 45px;
}

.mouse-down {
    margin-top: 75px;

    p {
        font-family: ProximaNova-Bold;
        letter-spacing: 0.08em;
        color: #949494;
    }
}

.mouse {
    margin-top: -9px;
    margin-right: 20px;
    position: relative;
    width: 28px;
    height: 40px;
    border: 2px solid #949494;
    border-radius: 40px;

    .minus {
        margin-top: 5px;
        margin-left: 11px;
        position: absolute;
        width: 2px;
        height: 8px;
        background-color: #949494;
        border-radius: 1px;
        animation: scroll 1.5s infinite;
    }
}

@keyframes scroll {
    0% {
        margin-top: 5px;
    }

    80% {
        margin-top: 20px;
    }
    100% {
        margin-top: 20px;
        opacity: 0;
    }
}

.bike-slide-1 {
    position: absolute;
    margin-left: 35%;
}

.rectangle {
    position: absolute;
    margin-top: -2600px;
    margin-left: 380px;
    background-color: #3d6bff;
    height: 5100px;
    width: 80px;
    transform: rotate(-25deg);
    z-index: 5;
}

.line2 {
    margin-left: 540px;
    box-shadow: 0 0 20px 15px black;
    z-index: 7;
}

.line3 {
    margin-left: 700px;
}

.bike {
    position: relative;
    z-index: 6;
}



.second-slide {
    margin-top: 300px;
}

.elements {
    margin-top: 40px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}



.element {
    position: relative;
    height: 620px;
    width: 350px;
    background-color: black;
    border-radius: 10px;
    margin-top: 45px;
    box-shadow: 0 10px 15px black;    

    p {
        font-family: ProximaNova-Bold;
        margin-left: 30px;
    }

    img {
        margin-top: 20px;
    }

    .name {
        color: #cccccc;
        margin-top: 40px;
        font-size: 20px;
    }

    .price {
        margin-top: -20px;
        font-size: 22px;
    }
}

TABLE {
    margin-left: 30px;
    font-family: ProximaNova-Regular;
    font-size: 14px;
    color: white;
    opacity: .5;

    .left-col {
        padding-top: 10px;
        width: 150px;
    }

}

.btn-elem {
    font-family: ProximaNova-Bold;
    color: white;
    font-size: 15px;
    background-color: #3d6bff;
    width: 100%;
    height: 50px;
    padding-top: 15px;
    text-align: center;
    margin-top: 32px;
    border-radius: 0 0 10px 10px; 
    letter-spacing: 0.08em;
}

.third-slide {
    position: relative;
    overflow: hidden;
    background-image: url(/img/slide_3.png);
    margin-top: 158px;
    min-height: 500px;
    background-size: 100%;

    img {
        position: relative;
        z-index: 7;
    }
}

.line-2 {
    margin-left: 210px;
    z-index: 10;
    box-shadow: 0 0 20px 15px black;
}

.line-3 {
    margin-left: 40px;
}

.third-right {
    margin-top: 60px;

    .p-70 {
        width: 60%;
        margin-top: 26px;
        color: #8e8d8a;
    }
}

.form-input {
    display: flex;
    margin-top: 10px;
}

#input-number {
    padding-left: 15px;
    width: 70%;
    color: #1e1e1e;
    font-family: ProximaNova-Bold;
    font-size: 15px;
    letter-spacing: 0.08em;
    height: 60px;
    border-radius: 30px 0 0 30px;
    border: 0px solid;
}

#submit-1 {
    width: 30%;
    height: 60px;
    border-radius: 0 30px 30px 0;
    border: 0px solid;
    background-color: #3d6bff;
    background-image: url(/img/send.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#submit-1:active {
    background-position: right;
}

.checked-type {
    margin-top: 20px;

    #checked-input {
        display: none;
    }

    .checked-input {
        position: absolute;
        width: 16px;   
        height: 16px;
        background-repeat: no-repeat;
        background-image: url(/img/chekbox-non.png);
        cursor: pointer;
        margin-top: 5px;
    }

    #checked-input:checked + .checked-input {
        background-image: url(/img/chekbox-yes.png);
    }

    p {
        margin-left: 25px;
        color: #8e8d8a;

        a {
            color: #8e8d8a;
            text-decoration: underline;
        }
    }
}


.fourth-slide {
    margin-top: 100px;

    span {
        position: absolute;
        right: 0;
        font-family: ProximaNova-Bold;
        font-size: 15px;
        color: white;
        background-color: #3d6bff;
        border-radius: 5px;
        padding: 0 15px 0 15px;
        margin-right: 30px;
        margin-top: -41px;
    }
}

.five-slide {
    margin-top: 120px;
    min-height: 500px;
    background-size: 100%;
    background-image: url(/img/slide_5.png);

    .l-five-col {
        margin-top: 70px;

        p {
            margin-top: 25px;
            color: #8e8d8a;
        }
    }

    .buttons-place {
        display: flex;
        justify-content: space-between;
        width: 315px;
        height: 32px;
        margin-bottom: 30px;
    }

    .checked-type {
        p {
            margin-top: 0px;
        }
    }

    .r-col {
        margin-top: 35px;

        .left {
            margin-right: 30px;
        }

        img {
            padding-top: 65px;
            margin-right: 15px;
        }
    }
}

.buttons {
    display: none;
}

.radio-input {
    display: inline-block;
    width: 100px;
    font-family: ProximaNova-Regular;
    color: white;
    font-size: 16px;
    border: 2px solid #3d6bff;
    border-radius: 4px;
    height: 32px;
    padding-top: 1px;
    text-align: center;
}

.six-slide {
    margin-top: 100px;
    min-height: 790px;

    TABLE {
        margin-left: 0px;
    }

    .left-t {
        width: 100px;
    }


    TD {
        padding-top: 30px;
        color: white;
        width: 250px;
    }


}

.six-img {
    margin-top: -100px;
    position: absolute;
}


.buttons:checked + .radio-input {
    background-color: #3d6bff;
}


.seven-slide {
    margin-top: 100px;
}

.reviews {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.review {
    position: relative;
    width: 48%;  // 545px
    height: 300px;
    background-color: black;
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 0 0 15px black;
}


.review-head {
    display: flex;

    .social {
        right: 0;
        position: absolute;
        margin-top: 25px;
        margin-right: 180px;
        width: 35px;
        height: 21px;
    }

    p {
        font-family: ProximaNova-Bold;
        font-size: 20px;
        margin-top: 20px;
        margin-left: 15px;
    }

    span {
        position: absolute;
        font-family: ProximaNova-Regular;
        font-size: 14px;
        margin-top: 50px;
        margin-left: 105px;

        a {
            color: #8e8d8a;
            text-decoration: underline;
        }
    }

}

.review-body {
    margin-top: 20px;
    
    p {
        color: #b7b7b7;
    }
}

@media screen and (min-width: 1160px) {
    .navigation-phone,
    .nav-number-phone {
         height: 0px;
         display: none;
         visibility: hidden;
    }
}

@media screen and (max-width: 1160px) {
    nav {
        height: 0px;
        display: none;
        visibility: hidden;
    }


    .navigation-phone {
        position: relative;
        width: 100%;
        background-color: black;

        .main-menu {
            font-size: 0;
            max-height: 0;
            transition: .5s all;
        }

        #check-menu {
            display: none;
        }


        #check-menu:checked~.main-menu {
            font-size: 16px;
            max-height: 300px;
        }

        #check-menu:checked ~ .first {
            display: none;
        }

        #check-menu:checked ~ .second {
            transform: rotate(45deg);
        }

        #check-menu:checked ~ .third {
            transform: rotate(-45deg);
        }

        #check-menu:checked ~ .fourth {
            display: none;
        }

        label {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 30px;
            cursor: pointer;
            z-index: 2;
        }

        .burger-line {
            position: absolute;
            top: 8px;
            right: 10px;
            width: 35px;
            height: 2px;
            background-color: #3d6bff;
        }

        .second,
        .third {
            top: 18px;
        }

        .fourth {
            top: 28px;
        }

        .logo {
            margin-top: 0px;
        }

        .navigation {
            z-index: 10;
            background-color: black;
            display: block;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            overflow: hidden;
        }

        ul li {
            text-align: center;
                a {
                    display: block;
                    width: 100%;
                    padding: 10px;
                    border-top: 1px solid #494949;

                }
        }

        .nav-number {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 10px;
            margin-right: 100px;
        }
    }




    .bike-slide-1 {
        display: none;
        visibility: hidden;
    }
}


.pre-and-next {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 136px;
}

.pre-next {
    background-color: #1e1e1e;
    width: 40px;
    height: 40px;
    outline: none;
    border: 0px;
    cursor: pointer;
}

.pre {
    background-image: url(/img/previcious.png);
    
}

.next {
    background-image: url(/img/next.png);
}


@media screen and (max-width: 768px) {

    .container {
        width: 100%;
    }
    .mouse-down {
        height: 1px;
        display: block;
        visibility: hidden;
    }
}

@media screen and (max-width: 630px) {

    .logo h1 {
        font-size: 35px;
        margin-left: -30px;
    }
    .nav-number {
        visibility: hidden;
    }
    .one-two {
        margin-left: 7%;
    }

    .button-blue {
        margin-left: auto;
        margin-right: auto;
    }

    .look-catalog {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 440px) {
    .container h1 {
        font-size: 35px;
    }

    .one-two {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}